* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: lightgray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
  font-size: 130%;
  font-family: calluna, Calluna, Georgia, sans-serif;
  font-weight: 300;
  line-height: 1.55em;
  text-rendering: optimizeLegibility;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: adelle, Adelle, Georgia, sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 170%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
  text-align: center;
}

h2 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h3 {
  font-size: 130%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h4 {
  font-size: 110%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h5 {
  font-size: 100%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

p {
  color: white;
  margin: 10px 10px;
}