.tagInput {
  position: relative;
  border: none;
  padding: 10px;
  display: block;
  flex: 1 1 auto;
  margin: 5px;
  min-height: 100%;
  font-size: 1em;

  &:hover,
  &:focus {
    outline: 2px solid blueviolet;
  }
}

.tagInputWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 1em;
}